@font-face {
    font-family: 'Roboto';
    src: url(Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-type);
}

:root{
    --dark-background: #1f2937;
    --call-to-action-color: #3882F6;
    --heading-text-color: #F9FAF8;
    --subtext-color: #E5E7EB; 

    --logo-font-size:24px; 
    --hero-text-size: 48px;
    --heading-size: 36px;
    --subtext-size:18px;

    --heading-text-weight: 900;
    --quote-weight:300;

    --font-style: italic;
    --font-type: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-background);
    color: var(--heading-text-color);
    font-size: var(--logo-font-size);
    align-items: center;
}
.navbar .logo{
    padding: 10px;
    margin: 5px;
    font-weight: var(--heading-text-weight);
}

.navbar .navlinks ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: var(--quote-weight);
    font-size: var(--subtext-size);
    gap: 15px;
    padding: 10px;
    margin: 5px;
}

.navbar .navlinks ul li{

    color: var(--subtext-color);
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: space-around;
    gap: 32px;
    background-color: var(--dark-background);
    color: var(--heading-text-color);
    align-items: center;
    padding: 32px 48px;
}

.hero .left,.hero .right{
    flex:1;
}

.hero .left .hero-primary{
    font-size: var(--hero-text-size);
    font-weight: var(--hero-text-weight);
    margin-bottom: 8px;
}

.hero .left .hero-secondary{
    font-size: var(--subtext-size);
}

.hero .left .button button{
    padding: 10px 24px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: var(--call-to-action-color);
    color: var(--heading-text-color);
    font-weight: var(--heading-text-weight);
    cursor: pointer;
    font-size: 16px;
}