@font-face {
    font-family: 'Roboto';
    src: url(Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font: var(--font-type);
}

:root{
    --dark-background: #1f2937;
    --call-to-action-color: #3882F6;
    --heading-text-color: #F9FAF8;
    --subtext-color: #E5E7EB; 

    --logo-font-size:24px; 
    --hero-text-size: 48px;
    --heading-size: 36px;

    --heading-text-weight: 900;
    --quote-weight:300;

    --font-style: italic;
    --font-type: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-background);
    color: var(--heading-text-color);
    font-size: var(--logo-font-size);
    align-items: center;
}
.navbar .logo{
    padding: 10px;
    margin: 5px;
    font-weight: var(--heading-text-weight);
}

.navbar .navlinks ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    font-weight: var(--quote-weight);
    font-size: 18px;
    gap: 15px;
    padding: 10px;
    margin: 5px;
}
